
<div class="container">
  <div style="text-align: center;" class="Header">
<h1>EAT-DA-BURGER</h1>

<h4>Add A Burger<i class="fas fa-utensils fa-2x"></i>Then Devour It!</h4>
</div>

<div style="text-align: right;" class="container">
<h4>Add a Burger</h4>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>


<h2>Our Specials:</h2>
 {{#each burgers}}
  {{#unless devoured}}
<ul>
  {{burger_name}}
  <i id="eat-me" class="fas fa-circle fa-3x" data-id="{{this.id}}">Eat Me!</i>
</ul>
{{/unless}}
{{/each}}

<div style="text-align: right;" class="eaten">
<h4>Yummm...So Delicious!</h4>
{{#each burgers}}
{{#if devoured}}
<ul>
    {{burger_name}}
</ul>
{{/if}}
{{/each}}
</div>

</div>

<script>
  $("#eat-me").on("click", function (event) {
    event.preventDefault();
    var id = $(this).data("id");
    var burger = {
      id: $(this).data("id"),
      devoured: true
    }

    //Send the POST request
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: burger
    }).then(
      function() {
        console.log("Eaten!")
        //Reaload to Updated page
        location.assign("/");
      }
    );
  });
</script>